.container {
  background-color: white;
  padding: 0;
  color: #848484;
}

.drop-active {
  outline: 2px dotted #ed6b5e;
  outline-offset: -2px;
}

.can-drop {
  background-color: #ed6b5e !important;
  color: white !important;
  z-index: 100;
}

ul li > div {
  display: inline-block;
  padding: 10.8px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: .75rem;
  width: 100%;
  background: white;
  color: #34363a;
  font-size: 0.8375rem;
}

svg.hamburger {
  cursor: grab;
  margin-right: 10px;
  fill: currentcolor;
  color: rgb(132, 132, 132);
}

ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: .75rem;
  touch-action: none;
  user-select: none;
  cursor: default !important;
}

ul li:last-child {
  margin-bottom: 0;
}

button:first-of-type {
  margin-left: 5px;
}

.DatoCMS-button {
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.05);
}

.DatoCMS-button--micro svg {
  fill: #ed6b5e;
  margin-right: .5em;
  vertical-align: text-top;
}

.DatoCMS-button--small svg {
  fill: #ed6b5e;
  margin-right: .5em;
  vertical-align: text-top;
}

.DatoCMS-button--alert {
  border-color: rgba(255,94,73,.4);
}

.BelongsToInput__actions {
  margin-top: 8px;
}
